/*
    Solar CSS
*/



/*

    Table of Contents

*/





/*------------------------------------*\
    #Base Settings
\*------------------------------------*/

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


img {
    max-width: 100%;
}







/*------------------------------------*\
    #Utility Classes
\*------------------------------------*/

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after,
.row:after {
    clear: both;
}


.pull-left{
    float: left !important;
}

.pull-right{
    float: right !important;
}


.flush {
    margin: 0 !important;
}

.flush-left {
    margin-left: 0 !important
}

.flush-right {
    margin-right: 0 !important
}


/*------------------------------------*\
    #Typography
\*------------------------------------*/

body {
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1rem;
}


p {
    font-size: 1rem;
}

p:last-child {
    margin-bottom: 0;
}


h1 {
    font-size: 3rem;
}

h1:first-child {
    margin-top: 0;
}


h2 {
    font-size: 2.5rem;
}

h2:first-child {
    margin-top: 0;
}


h3 {
    font-size: 2rem;
}


h4 {
    font-size: 1.75rem;
}


h5 {
    font-size: 1.5rem;
}


h6 {
    font-size: 1.25rem;
}





/*------------------------------------*\
    #Grid System
\*------------------------------------*/

.row {
    margin: 0 -15px;
}

.row--separated {
    margin-top: 40px;
    margin-bottom: 40px;
}


[class*="column--"] {
    padding: 0 15px;
    float: left;
    position: relative;
}

.column--5 {
    width: 5%;
}

.column--10,
.column--tenth {
    width: 10%;
}

.column--15 {
    width: 15%;
}

.column--20,
.column--fifth {
    width: 20%;
}

.column--25,
.column--quarter {
    width: 25%;
}

.column--30 {
    width: 30%;
}

.column--33,
.column--third {
    width: 33.33%;
}

.column--35 {
    width: 35%;
}

.column--40,
.column--two-fifths {
    width: 40%;
}

.column--45 {
    width: 45%;
}

.column--50,
.column--half {
    width: 50%;
}

.column--55 {
    width: 55%;
}

.column--60,
.column--three-fifths {
    width: 60%;
}

.column--65 {
    width: 65%;
}

.column--66,
.column--two-thirds {
    width: 66.66%
}

.column--70 {
    width: 70%;
}

.column--75 {
    width: 75%;
}

.column--80,
.column--four-fifths {
    width: 80%;
}

.column--85 {
    width: 85%;
}

.column--90 {
    width: 90%;
}

.column--95 {
    width: 95%;
}

.column--100,
.column--full {
    width: 100%;
}





/*------------------------------------*\
    #Site Layout
\*------------------------------------*/

[class*="wrapper--"] {
    margin-left: auto;
    margin-right: auto;
}

.wrapper--outer {
    background-color: #eee;
}

.wrapper--inner {
    background-color: #fff;
    max-width: 1200px;
    padding: 40px;
}





/*------------------------------------*\
    #Tables
\*------------------------------------*/





/*------------------------------------*\
    #Forms
\*------------------------------------*/





/*------------------------------------*\
    #Buttons
\*------------------------------------*/

[class*="button--"] {
    display: inline-block;
    padding: 10px 15px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.button--mega {
    font-size: 3rem;
}

.button--huge {
    font-size: 1.5rem;
}

.button--large {
    font-size: 1.25rem;
}

.button--small {
    font-size: 0.75rem;
}

.button--tiny {
    font-size: 0.5rem;
}

.button--default {
    background: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
}

.button--danger {
    background: #dd2222;
    color: #fff
}

.button--warning {
    background: #f0bb2d;
    color: #fff
}

.button--okay {
    background: #22aa22;
    color: #fff
}





/*------------------------------------*\
    #Images
\*------------------------------------*/

.image--stretch {
    width: 100%;
}


.image--aside {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
