
/*------------------------------------*\
	#Buttons
\*------------------------------------*/

@import "variables.scss";

.button,
[class*="button--"] {
	background: $midGrey;
	border: 0;
	border-radius: 4px;
	color: #333;
	display: inline-block;
	padding: 10px 15px;
	margin: 20px 20px 20px 0;

	&:hover,
	&:focus {
		background-color: darken($midGrey, 15%);
	}
}

.button {

	&--default {
		border: 1px solid #ccc;
		background: $lightGrey;

		&:hover,
		&:focus {
			background-color: darken($lightGrey, 15%);
		}
	}

	&--mega {
		font-size: 3rem;
	}

	&--huge {
		font-size: 1.5rem;
	}

	&--large {
		font-size: 1.25rem;
	}

	&--small {
		font-size: 0.75rem;
	}

	&--tiny {
		font-size: 0.5rem;
	}

	&--danger {
		background: $dangerRed;
		color: #fff;

		&:hover,
		&:focus {
			background-color: darken($dangerRed, 15%);
		}
	}

	&--warning {
		background: $warningYellow;
		color: #fff;

		&:hover,
		&:focus {
			background-color: darken($warningYellow, 15%);
		}
	}

	&--okay {
		background: $okayGreen;
		color: #fff;

		&:hover,
		&:focus {
			background-color: darken($okayGreen, 15%);
		}
	}
}


