
/*------------------------------------*\
	#Grid System
\*------------------------------------*/

.row {
	margin: 0 -15px;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}


.row--separated {
	margin-top: 40px;
	margin-bottom: 40px;
}


[class*="column--"] {
	padding: 0 15px;
	float: left;
	position: relative;
}

.column--5 {
	width: 5%;
}

.column--10,
.column--tenth {
	width: 10%;
}

.column--15 {
	width: 15%;
}

.column--20,
.column--fifth {
	width: 20%;
}

.column--25,
.column--quarter {
	width: 25%;
}

.column--30 {
	width: 30%;
}

.column--33,
.column--third {
	width: 33.33%;
}

.column--35 {
	width: 35%;
}

.column--40,
.column--two-fifths {
	width: 40%;
}

.column--45 {
	width: 45%;
}

.column--50,
.column--half {
	width: 50%;
}

.column--55 {
	width: 55%;
}

.column--60,
.column--three-fifths {
	width: 60%;
}

.column--65 {
	width: 65%;
}

.column--66,
.column--two-thirds {
	width: 66.66%
}

.column--70 {
	width: 70%;
}

.column--75 {
	width: 75%;
}

.column--80,
.column--four-fifths {
	width: 80%;
}

.column--85 {
	width: 85%;
}

.column--90 {
	width: 90%;
}

.column--95 {
	width: 95%;
}

.column--100,
.column--full {
	width: 100%;
}



.pull-left{
	float: left !important;
}

.pull-right{
	float: right !important;
}

.flush {
	margin: 0 !important;
}

.flush-left {
	margin-left: 0 !important
}

.flush-right {
	margin-right: 0 !important
}